body {
  background-color: #3c3c3c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.rates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #d4e6f7;
  gap: 7px;
}

.rates__item {
  width: 100%;
  border: 1px solid #777;
  min-height: 500px;
  padding: 10px 20px;
  border-radius: 5px;
}

.rates-title {
  text-align: center;
}